html {
    background-image: url("board.jpg");
    font-family: Helvetica, sans-serif;
}

/* Input form */
#form-container {
    display: flex;
    flex-direction: column;
    width: 17%;
    padding: 1.5rem;
    margin: 0;
    z-index: 3;
}

form {
    display: none;
    padding-left: 3rem;
}

input {
    width: 90%;
}

#view-form-btn {
    background-color: deeppink;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 100%;
    border: solid pink 1px;
}

.color-choices {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 90%;
}

label {
    margin: 0;
    padding: 0;
    text-shadow: 1px 1px darkslategray;
    font-size: 1.2rem;
    font-weight: bold;
}

input[type=radio], input.radio {
    float: left;
    clear: none;
    margin: 0;
    padding: 0;
    width: 2rem;
}

/* Notes */
.note {
    position: absolute;
    z-index: 9;
    background-image: url("stick.png");
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 15%;
    height: auto;
}

.draggableheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: #2196F3;
    color: #fff;
}