.note {
    position: absolute;
    z-index: 9;
    background-image: url("stick.png");
    height: 500px;
    width: 502px;
    text-align: center;
    border: 1px solid #d3d3d3;
  }
  
/*.draggableheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: #2196F3;
    color: #fff;
}*/